#header{
    height:50px;
}
#body{
    height:90%;
}
h1
{
    text-align:center;
}
.Menu{
    width:30%;
}
body
{
    margin:0;
    background-image:url('images/background.png');
    background-repeat:repeat-x;
}

.menu
{
    /*width:30%;*/
    float:left;
    width:300px;
    font-size:25px;
    list-style-type:none;
    /*margin:0;*/
    /*padding:0;*/
    text-align:left;
}
li{
    text-align:center;
    display:block;
    color:grey;
    padding:8px 16px;
    text-decoration:none;
}
li :hover{
    background-color:#555;
    color:white;
}
.right{
    float:left;
    margin-top: 50px;
    padding-top: 0;
    /*border-style: dashed;*/
    width:70%
}