h1
{
    text-align:center;
}
body
{
    margin:0;
    background-image:url('images/background.png');
    background-repeat:repeat-x;
}
.menu-t1
{
    font-size:25px;
    list-style-type:none;
    margin:0;
    padding:0;
    width:30%;
    text-align:left;

}
.menu-t2
{
    font-size:20px;
    color:#555;
    list-style-type:none;
    text-align:left;
}
.menu-t2:hover{
    color: white;
    background-color: #555;
}
li
{
    text-align:center;
}

li p{
    display:block;
    color:grey;
    padding:8px 16px;
    text-decoration:none;
}
li a:hover{
    background-color:#555;
    color:white;
}