<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员界面</title>
    <link rel="stylesheet" type="text/css" href="/css/page.css">
    <link rel="stylesheet" type="text/css" href="/css/modal.css">
    <link rel="stylesheet" type="text/css" href="/css/mainPage.css">
    <script src="/js/jQuery3.6.1.js"></script>
    <script src="/js/administratorInterface.js"></script>
</head>
<body>
<div id="body">
    <div id="header">
        <div id="title" class="floatLeft">
            <h1>公司销售管理系统</h1>
        </div>
        <div id="welcomeMsg" class="floatLeft">
            <p style="font-size: 20px;">欢迎您</p>
        </div>
    </div>

    <div id="content">
        <!--菜单模块-->
        <div id="menuBlock" class="floatLeft">
            <ul id="menu">
                <li>
                    <p class="menu-t1">个人管理</p>
                    <ul class="hide">
                        <li class="menu-t2" id="querySelaInformation">查看</li>
                        <li class="menu-t2" id="modifySelfInformation">修改</li>
                    </ul>
                </li>
                <li>
                    <p class="menu-t1">销售人员管理</p>
                    <ul class="hide">
                        <li class="menu-t2" id="querySalesStaff">查询销售人员信息</li>
                        <li class="menu-t2" id="modifySalesStaff">修改销售人员信息</li>
                        <li class="menu-t2" id="delSalesStaff">删除销售人员信息</li>
                        <li class="menu-t2" id="addSalesStaff">增加销售人员信息</li>
                    </ul>
                </li>
                <li>
                    <p class="menu-t1">产品管理</p>
                    <ul class="hide">
                        <li class="menu-t2" id="queryProduct">查询产品信息</li>
                        <li class="menu-t2" id="modifyProduct">修改产品信息</li>
                        <li class="menu-t2" id="delProduct">删除产品信息</li>
                        <li class="menu-t2" id="addProduct">新增产品</li>
                    </ul>
                </li>
                <li>
                    <p class="menu-t1">客户管理</p>
                    <ul class="hide">
                        <li class="menu-t2" id="queryClient">查询客户信息</li>
                        <li class="menu-t2" id="modifyClient">更新客户信息</li>
                        <li class="menu-t2" id="delClient">删除客户信息</li>
                        <li class="menu-t2" id="addClient">新增客户信息</li>
                    </ul>
                </li>
                <li>
                    <p class="menu-t1">公司管理</p>
                    <ul class="hide">
                        <li class="menu-t2" id="queryOrder">查询订单信息</li>
                        <li class="menu-t2" id="modifyOrder">修改订单信息</li>
                        <li class="menu-t2" id="delOrder">删除订单信息</li>
                        <li class="menu-t2" id="addOrder">增加订单信息</li>
                        <li class="menu-t2">查看产品销售情况</li>
                        <li class="menu-t2">查看营业额</li>
                    </ul>
                </li>

            </ul>
        </div>
        <!--    内容模块-->
        <div id="rightContent">
            <!--        功能区-->
            <div id="functionBlock">
<!--                销售人员管理-->
                <div id="querySalesStaffTable"   class="functionTable">
                    <div class="functionTableHeader">
                        <span class="functionTableClose">&times;</span>
                        <h3>查询销售人员信息</h3>
                    </div>
                    <div>
                        <table class="centerTable">
                            <tr>
                                <td class="label">销售人员工号</td>
                                <td><input type="text" placeholder="销售人员工号"></td>
                                <td><button id="getSalesStaffByIdBtn">查询</button></td>
                                <td><button id="getAllSalesStaffsBtn">查询所有销售人员</button></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div id="modifySalesStaffTable" class="functionTable">
                    <div class="functionTableHeader">
                        <span class="functionTableClose">&times;</span>
                        <h3>修改销售人员信息</h3>
                    </div>
                    <div>
                        <table class="centerTable">
                            <tr>
                                <td class="label">销售人员工号</td>
                                <td><input type="text" placeholder="销售人员工号"></td>
                                <td><button id="showModifySalesStaffModalBtn">修改</button></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div id="delSalesStaffTable" class="functionTable">
                    <div class="functionTableHeader">
                        <span class="functionTableClose">&times;</span>
                        <h3>删除销售人员信息</h3>
                    </div>
                    <div>
                        <table class="centerTable">
                            <tr>
                                <td class="label">销售人员工号</td>
                                <td><input type="text" placeholder="销售人员工号"></td>
                                <td><button id="delSalesStaffBtn">删除</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
<!--                产品管理-->
                <div id="queryProductTable"   class="functionTable">
                    <div class="functionTableHeader">
                        <span class="functionTableClose">&times;</span>
                        <h3>查询产品信息</h3>
                    </div>
                    <div>
                        <table class="centerTable">
                            <tr>
                                <td class="label">产品编号</td>
                                <td><input type="text" placeholder="产品编号"></td>
                                <td><button id="getProductByIdBtn">查询</button></td>
                                <td><button id="getAllProductsBtn">查询所有产品</button></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div id="modifyProductTable" class="functionTable">
                    <div class="functionTableHeader">
                        <span class="functionTableClose">&times;</span>
                        <h3>修改产品信息</h3>
                    </div>
                    <div>
                        <table class="centerTable">
                            <tr>
                                <td class="label">产品编号</td>
                                <td><input type="text" placeholder="产品编号"></td>
                                <td><button id="showModifyProductModalBtn">修改</button></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div id="delProductTable" class="functionTable">
                    <div class="functionTableHeader">
                        <span class="functionTableClose">&times;</span>
                        <h3>删除产品信息</h3>
                    </div>
                    <div>
                        <table class="centerTable">
                            <tr>
                                <td class="label">产品编号</td>
                                <td><input type="text" placeholder="产品编号"></td>
                                <td><button id="delProductBtn">删除</button></td>
                            </tr>
                        </table>
                    </div>
                </div>

<!--                客户管理-->
                <div id="queryClientTable"   class="functionTable">
                    <div class="functionTableHeader">
                        <span class="functionTableClose">&times;</span>
                        <h3>查询客户信息</h3>
                    </div>
                    <div>
                        <table class="centerTable">
                            <tr>
                                <td class="label">客户编号</td>
                                <td><input type="text" placeholder="客户编号"></td>
                                <td><button id="getClientByIdBtn">查询</button></td>
                                <td><button id="getAllClientsBtn">查询所有客户</button></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div id="modifyClientTable" class="functionTable">
                    <div class="functionTableHeader">
                        <span class="functionTableClose">&times;</span>
                        <h3>修改客户信息</h3>
                    </div>
                    <div>
                        <table class="centerTable">
                            <tr>
                                <td class="label">客户编号</td>
                                <td><input type="text" placeholder="客户编号"></td>
                                <td><button id="showModifyClientModalBtn">修改</button></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div id="delClientTable" class="functionTable">
                    <div class="functionTableHeader">
                        <span class="functionTableClose">&times;</span>
                        <h3>删除客户信息</h3>
                    </div>
                    <div>
                        <table class="centerTable">
                            <tr>
                                <td class="label">客户编号</td>
                                <td><input type="text" placeholder="客户编号"></td>
                                <td><button id="delClientBtn">删除</button></td>
                            </tr>
                        </table>
                    </div>
                </div>

<!--                订单管理-->
                <div id="queryOrderTable"   class="functionTable">
                    <div class="functionTableHeader">
                        <span class="functionTableClose">&times;</span>
                        <h3>查询订单信息</h3>
                    </div>
                    <div>
                        <table class="centerTable">
                            <tr>
                                <td class="label">订单编号</td>
                                <td><input type="text" placeholder="订单编号"></td>
                                <td><button id="getOrderByIdBtn">查询</button></td>
                                <td><button id="getAllOrdersBtn">查询所有订单</button></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div id="modifyOrderTable" class="functionTable">
                    <div class="functionTableHeader">
                        <span class="functionTableClose">&times;</span>
                        <h3>修改订单信息</h3>
                    </div>
                    <div>
                        <table class="centerTable">
                            <tr>
                                <td class="label">订单编号</td>
                                <td><input type="text" placeholder="订单编号"></td>
                                <td><button id="showModifyOrderModalBtn">修改</button></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div id="delOrderTable" class="functionTable">
                    <div class="functionTableHeader">
                        <span class="functionTableClose">&times;</span>
                        <h3>删除订单信息</h3>
                    </div>
                    <div>
                        <table class="centerTable">
                            <tr>
                                <td class="label">订单编号</td>
                                <td><input type="text" placeholder="订单编号"></td>
                                <td><button id="delOrderBtn">删除</button></td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
            <!--        显示结果区-->
            <div id="resultBlock">
                <div id="resultHeader">
                    <h3>结果</h3>
                </div>
                <div id="resultTable">

                </div>
            </div>
<!--            修改销售人员信息的弹窗-->
            <div id="modifySalesStaffModal" class="modal">
                <div class="modalContent">
                    <div class="modalHeader">
                        <span class="close">&times;</span>
                        <h3>修改销售人员信息</h3>
                    </div>
                    <div class="modalBody" style="margin-left: 600px;">
                        <table>
                            <tr>
                                <td class="label">销售人员姓名</td>
                                <td><input type="text" placeholder="销售人员姓名"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">销售人员密码</td>
                                <td><input type="text" placeholder="销售人员密码"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">销售人员性别</td>
                                <td><input type="text" placeholder="销售人员性别"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">销售人员地址</td>
                                <td><input type="text" placeholder="销售人员地址"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">销售人员邮箱</td>
                                <td><input type="text" placeholder="销售人员邮箱"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">销售人员薪水</td>
                                <td><input type="text" placeholder="销售人员薪水"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td colspan="2" style="text-align: center"><button type="submit" id="modifySalesStaffBtn">确定</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
<!--            增加销售人员信息的弹窗-->
            <div id="addSalesStaffModal" class="modal">
                <div class="modalContent">
                    <div class="modalHeader">
                        <span class="close">&times;</span>
                        <h3>增加销售人员信息</h3>
                    </div>
                    <div class="modalBody" style="margin-left: 600px;">
                        <table>
                            <tr>
                                <td class="label">销售人员姓名</td>
                                <td><input type="text" placeholder="销售人员姓名"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">销售人员密码</td>
                                <td><input type="text" placeholder="销售人员密码"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">销售人员性别</td>
                                <td><input type="text" placeholder="销售人员性别"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">销售人员地址</td>
                                <td><input type="text" placeholder="销售人员地址"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">销售人员邮箱</td>
                                <td><input type="text" placeholder="销售人员邮箱"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">销售人员薪水</td>
                                <td><input type="text" placeholder="销售人员薪水"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td colspan="2" style="text-align: center"><button type="submit" id="addSalesStaffBtn">确定</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!--更新产品的弹窗-->
            <div id="modifyProductModal" class="modal">
                <div class="modalContent">
                    <div class="modalHeader">
                        <span class="close">&times;</span>
                        <h3>更新产品</h3>
                    </div>
                    <div class="modalBody" style="margin-left: 600px;">
                        <table>
                            <tr>
                                <td class="label">产品名称</td>
                                <td><input type="text" placeholder="产品名称"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">产品描述</td>
                                <td><input type="text" placeholder="产品描述"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">产品价格</td>
                                <td><input type="text" placeholder="产品价格"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">产品库存量</td>
                                <td><input type="text" placeholder="产品库存量"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td colspan="2" style="text-align: center"><button type="submit" id="modifyProductBtn">确定</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!--新增产品的弹窗-->
            <div id="addProductModal" class="modal">
                <div class="modalContent">
                    <div class="modalHeader">
                        <span class="close">&times;</span>
                        <h3>新增产品</h3>
                    </div>
                    <div class="modalBody" style="margin-left: 600px;">
                        <table>
                            <tr>
                                <td class="label">产品名称</td>
                                <td><input type="text" placeholder="产品名称"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">产品描述</td>
                                <td><input type="text" placeholder="产品描述"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">产品价格</td>
                                <td><input type="text" placeholder="产品价格"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">产品库存量</td>
                                <td><input type="text" placeholder="产品库存量"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td colspan="2" style="text-align: center"><button type="submit" id="addProductBtn">确定</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!--修改客户信息的弹窗-->
            <div id="modifyClientModal" class="modal">
                <div class="modalContent">
                    <div class="modalHeader">
                        <span class="close">&times;</span>
                        <h3>修改客户信息</h3>
                    </div>
                    <div class="modalBody" style="margin-left: 600px;">
                        <table>
                            <tr>
                                <td class="label">客户姓名</td>
                                <td><input type="text" placeholder="客户姓名"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">客户密码</td>
                                <td><input type="text" placeholder="客户密码"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">客户性别</td>
                                <td><input type="text" placeholder="客户性别"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">客户地址</td>
                                <td><input type="text" placeholder="客户地址"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">客户邮箱</td>
                                <td><input type="text" placeholder="客户地址"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td colspan="2" style="text-align: center"><button type="submit" id="updateClientBtn">确定</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
<!--            增加客户信息的弹窗-->
            <div id="addClientModal" class="modal">
                <div class="modalContent">
                    <div class="modalHeader">
                        <span class="close">&times;</span>
                        <h3>增加客户信息</h3>
                    </div>
                    <div class="modalBody" style="margin-left: 600px;">
                        <table>
                            <tr>
                                <td class="label">客户姓名</td>
                                <td><input type="text" placeholder="客户姓名"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">客户密码</td>
                                <td><input type="text" placeholder="客户密码"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">客户性别</td>
                                <td><input type="text" placeholder="客户性别"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">客户地址</td>
                                <td><input type="text" placeholder="客户地址"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">客户邮箱</td>
                                <td><input type="text" placeholder="客户地址"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td colspan="2" style="text-align: center"><button type="submit" id="addClientBtn">确定</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
<!--            修改订单信息的弹窗-->
            <div id="modifyOrderModal" class="modal">
                <div class="modalContent">
                    <div class="modalHeader">
                        <span class="close">&times;</span>
                        <h3>修改订单信息</h3>
                    </div>
                    <div class="modalBody" style="margin-left: 600px;">
                        <table>
                            <tr>
                                <td class="label">订单时间</td>
                                <td><input type="text" placeholder="订单时间"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">下单客户</td>
                                <td><input type="text" placeholder="下单客户"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">负责销售</td>
                                <td><input type="text" placeholder="负责员工"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">总消费金额</td>
                                <td><input type="text" placeholder="总消费金额"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td colspan="2" style="text-align: center"><button type="submit" id="modifyOrderBtn">确定</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div id="addOrderModal" class="modal">
                <div class="modalContent">
                    <div class="modalHeader">
                        <span class="close">&times;</span>
                        <h3>修改订单信息</h3>
                    </div>
                    <div class="modalBody" style="margin-left: 600px;">
                        <table>
                            <tr>
                                <td class="label">订单时间</td>
                                <td><input type="text" placeholder="订单时间"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">下单客户</td>
                                <td><input type="text" placeholder="下单客户"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">负责销售</td>
                                <td><input type="text" placeholder="负责员工"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td class="label">总消费金额</td>
                                <td><input type="text" placeholder="总消费金额"></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                            <tr>
                                <td colspan="2" style="text-align: center"><button type="submit" id="addOrderBtn">确定</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(function(){
        let username=getUrlParam('username');
        let psd=getUrlParam('password');
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
        }
        $("#welcomeMsg").append('<p style="font-size: 20px;">'+username+'</p>');
        // 隐藏二级标题
        $(".hide").hide();
        $(".menu-t1").click(function(){
            $(".hide").slideUp();
            $(this).next().slideToggle();
        });
        $(".menu-t2").click(function () {
            $("#resultBlock").css("display","block");
        })
        // 点击菜单栏触发销售人员管理事件
        $("#querySalesStaff").click(function () {
            $("#querySalesStaffTable").css("display","block");
        });
        $("#modifySalesStaff").click(function () {
            $("#modifySalesStaffTable").css("display","block");
        });
        $("#delSalesStaff").click(function () {
            $("#delSalesStaffTable").css("display","block");
        });
        $("#showModifySalesStaffModalBtn").click(function () {
            $("#modifySalesStaffModal").css("display","block");

        });
        $("#addSalesStaff").click(function () {
            $("#addSalesStaffModal").css("display","block");
        });

        // 点击菜单栏触发产品管理事件
        $("#queryProduct").click(function () {
            $("#queryProductTable").css("display","block");
        });
        $("#delProduct").click(function () {
            $("#delProductTable").css("display","block");
        });
        $("#modifyProduct").click(function () {
            $("#modifyProductTable").css("display","block");
        });
        $("#showModifyProductModalBtn").click(function () {
            $("#modifyProductModal").css("display","block");
            
        });
        $("#addProduct").click(function () {
            $("#addProductModal").css("display","block");
        });

        //点击菜单栏触发客户管理事件
        $("#queryClient").click(function () {
            $("#queryClientTable").css("display","block");
        });
        $("#delClient").click(function () {
            $("#delClientTable").css("display","block");
        });
        $("#modifyClient").click(function () {
            $("#modifyClientTable").css("display","block");
        });
        $("#showModifyClientModalBtn").click(function () {
            $("#modifyClientModal").css("display","block");

        });
        $("#addClient").click(function () {
            $("#addClientModal").css("display","block");
        });
        //点击菜单栏触发订单管理事件
        $("#queryOrder").click(function () {
            $("#queryOrderTable").css("display","block");
        });
        $("#delOrder").click(function () {
            $("#delOrderTable").css("display","block");
        });
        $("#modifyOrder").click(function () {
            $("#modifyOrderTable").css("display","block");
        });
        $("#showModifyOrderModalBtn").click(function () {
            $("#modifyOrderModal").css("display","block");

        });
        $("#addOrder").click(function () {
            $("#addOrderModal").css("display","block");
        });
        $(".close").click(function () {
            // $("#updateProductModal").css("display","none");
            $(".modal").css("display","none");
            $("#resultBlock").css("display","none");
        });
        $(".functionTableClose").click(function () {
            $(".functionTable").css("display","none");
            $("#resultBlock").css("display","none");
        });

        $(".resultClose").click(function () {
            $("#resultBlock").css("display","none");
        });
    });
</script>
</body>
</html>