<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>销售人员界面</title>
    <link rel="stylesheet" type="text/css" href="/css/page.css">
    <link rel="stylesheet" type="text/css" href="/css/modal.css">
    <link rel="stylesheet" type="text/css" href="/css/mainPage.css">
    <script src="/js/jQuery3.6.1.js"></script>

    <script src="/js/salesDisplay.js"></script>
    <script src="/js/baseOperation.js"></script>
    <script src="/js/salesStaffOp.js"></script>
</head>
<body>
<div id="body">
    <div id="header">
        <div id="title" class="floatLeft">
            <h1>公司销售管理系统</h1>
        </div>
        <div id="welcomeMsg" class="floatLeft">
            <div id="displayUsername" style="font-size: 20px">欢迎您<br></div>
        </div>
    </div>
    <div id="content">
        <!--菜单模块-->
        <div id="menuBlock" class="floatLeft">
            <ul id="menu">
                <li>
                    <p class="menu-t1">个人管理</p>
                    <ul class="hide">
                        <li class="menu-t2" id="querySelfInformation">查看</li>
                        <li class="menu-t2" id="modifySelfInformation">修改</li>
                    </ul>
                </li>
                <li>
                    <p class="menu-t1" id="queryProduct">查询产品信息</p>
                </li>
                <li>
                    <p class="menu-t1" id="queryClient">查询客户信息</p>
                </li>
                <li>
                    <p class="menu-t1" id="queryOrder">查询订单</p>
                </li>
            </ul>
        </div>

        <div id="rightContent">
            <!--        功能区-->
            <div id="functionBlock">

<!--                个人信息管理-->
                <div id="personalInformation"   class="functionTable">
                    <div class="functionTableHeader">
                        <span class="functionTableClose">&times;</span>
                        <h3>查看个人信息</h3>
                    </div>
                    <div>
                        <table class="centerTable" id="personalTable">
                        </table>
                    </div>
                </div>

                <form>
                    <div id="modifyPersonalInformationTable" class="functionTable">
                        <div class="functionTableHeader">
                            <span class="functionTableClose">&times;</span>
                            <h3>修改个人信息</h3>
                        </div>
                        <div>
                            <table class="centerTable">
                                <tr>
                                    <td class="label">ID</td>
                                    <td><input id="modifyPersonalIDBox" placeholder="ID"></td>
                                </tr>
                                <tr>
                                    <td class="label">用户名</td>
                                    <td><input id="modifyPersonalNameBox" placeholder="用户名"></td>
                                </tr>
                                <tr>
                                    <td class="label">密码</td>
                                    <td><input id="modifyPersonalPsdBox" placeholder= "密码"></td>
                                </tr>
                                <tr>
                                    <td class="label">性别</td>
                                    <td><input id="modifyPersonalGenderBox" placeholder="性别" ></td>
                                </tr>
                                <tr>
                                    <td class="label">地址</td>
                                    <td><input id="modifyPersonalAddressBox" placeholder="地址"></td>
                                </tr>
                                <tr>
                                    <td class="label">邮箱</td>
                                    <td><input id="modifyPersonalEmailBox" placeholder="邮箱" ></td>
                                </tr>
                                <tr><td><input id="modifyPersonalInformationBtn" value="确定" type="submit"></td></tr>
                            </table>
                        </div>
                    </div>
                </form>
                <!--                产品管理-->
                <div id="queryProductTable"   class="functionTable">
                    <div class="functionTableHeader">
                        <span class="functionTableClose">&times;</span>
                        <h3>查询产品信息</h3>
                    </div>
                    <div>
                        <table class="centerTable">
                            <tr>
                                <td class="label">产品编号</td>
                                <td><input type="text" placeholder="产品编号" id="getProductByIdBox"></td>
                                <td><button id="getProductByIdBtn">查询</button></td>
                                <td><button id="getAllProductsBtn">查询所有产品</button></td>
                            </tr>
                        </table>
                    </div>
                </div>


                <!--                客户管理-->
                <div id="queryClientTable"   class="functionTable">
                    <div class="functionTableHeader">
                        <span class="functionTableClose">&times;</span>
                        <h3>查询客户信息</h3>
                    </div>
                    <div>
                        <table class="centerTable">
                            <tr>
                                <td class="label">客户编号</td>
                                <td><input type="text" placeholder="客户编号"></td>
                                <td><button id="getClientByIdBtn">查询</button></td>
                                <td><button id="getAllClientsBtn">查询所有客户</button></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <!--                订单管理-->
                <div id="queryOrderTable"   class="functionTable">
                    <div class="functionTableHeader">
                        <span class="functionTableClose">&times;</span>
                        <h3>查询订单信息</h3>
                    </div>
                    <div>
                        <table class="centerTable">
                            <tr>
                                <td class="label">订单编号</td>
                                <td><input type="text" placeholder="订单编号"></td>
                                <td><button id="getOrderByIdBtn">查询</button></td>
                                <td><button id="getAllOrdersBtn">查询所有订单</button></td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
<!--            结果区-->
            <div id="resultBlock">
                <div id="resultHeader">
                    <h3>结果</h3>
                </div>
                <div class="resultTable">
                    <table id="productTable"></table>
                    <table id="clientTable"></table>
                    <table id="orderTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>
</body>
</html>