<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>销售人员界面</title>
    <link rel="stylesheet" type="text/css" href="/css/page.css">
    <script src="/js/jQuery3.6.1.js"></script>
    <script src="/js/salesStaffInterface.js"></script>
</head>
<body>
<h1>公司销售管理系统</h1>
<div class="Menu">
    <ul class="menu">
        <li id="selfInformationManagement">
            个人信息
        </li>
        <li id="productManagement">
            产品管理
        </li>
        <li id="orderManagement">
            订单管理
        </li>
        <li id="clientManagement">
            客户管理
        </li>
    </ul>
</div>
<div class="right" id="content">
    <!--    个人信息管理模块-->
    <div id="selfInformationManagementBlock" class="hide">
        <table id="showSelfInformation">

        </table>
        <button id="showModifyInformationForm">修改个人信息</button>
        <form id="modifySelfInformationForm" class="hide">
            <table>
                <tr>
                    <td>姓名：</td>
                    <td><input id="modifySelfName"></td>
                    <td>密码</td>
                    <td><input id="modifySelfPsd"></td>
                </tr>
                <tr>
                    <td>性别：</td>
                    <td><input id="modifySelfGender"></td>
                    <td>地址:</td>
                    <td><input id="modifySelfAddress"></td>
                </tr>
                <tr>
                    <td>邮箱：</td>
                    <td><input id="modifyEmail"></td>
                    <td><button id="modifySelfInformationBtn">确定</button></td>
                </tr>
            </table>
        </form>
    </div>
<!--    产品管理模块-->
    <div id="productManagementBlock" class="hide">
        <input type="text"  id="searchProductBox">
        <button id="getProductByIdBtn">查询产品</button>
        <button id="getAllProductBtn">查询全部产品</button><br><br>
        <input type="text"  id="delProductBox">
        <button id="delProductBtn">删除产品</button><br><br>
        <input type="text"  id="modifyProductBox">
        <button id="showModifyProductBtn">编辑产品</button><br><br>
        <button id="showInsertProductBtn">新增产品</button>
        <form id="insertProductForm" class="hide">
            <table>
                <tr>
                    <td>产品名称：</td>
                    <td><input type="text" id="insertProductName"></td>
                    <td>产品描述：</td>
                    <td><input type="text" id="insertProductDescription"></td>
                </tr>
                <tr>
                    <td>产品价格：</td>
                    <td><input type="text" id="insertProductPrice"></td>
                    <td>产品库存量：</td>
                    <td><input type="text" id="insertProductInventory"></td>
                </tr>
                <tr>
                    <td><button type="submit" id="insertProductBtn">确定</button></td>
                </tr>
            </table>
        </form>
        <form id="modifyProductForm" class="hide">
            <table>
                <tr>
                    <td>产品名称：</td>
                    <td><input type="text" id="modifyName"></td>
                    <td>产品描述：</td>
                    <td><input type="text" id="modifyDescription"></td>
                </tr>
                <tr>
                    <td>产品价格：</td>
                    <td><input type="text" id="modifyPrice"></td>
                    <td>产品库存量：</td>
                    <td><input type="text" id="modifyInventory"></td>
                </tr>
                <tr>
                    <td><button type="submit" id="modifyBtn">确定</button></td>
                </tr>
            </table>
        </form>
        <table id="showProductTable">
        </table>
    </div>
<!--订单管理模块-->
    <div id="orderManagementBlock" class="hide">
        <input type="text"  id="orderSearchBox">
        <button id="getOrderByIdBtn">查询订单</button>
        <button id="getAllOrdersBtn">查询全部订单</button><br><br>
        <input type="text"  id="delOrderBox">
        <button id="delOrderBtn">删除订单</button><br><br>
        <input type="text"  id="modifyOrderBox">
        <button id="showModifyOrderBtn">编辑订单</button><br><br>
        <button id="showInsertOrderBtn">新增订单</button>
        <form id="insertOrderForm" class="hide">
            <table>
                <tr>
                    <td>订单时间：</td>
                    <td><input type="text" id="insertOrderTime"></td>
                    <td>下单顾客</td>
                    <td><input type="text" id="insertOrderClient"></td>
                </tr>
                <tr>
                    <td>负责销售：</td>
                    <td><input type="text" id="insertOrderStaff"></td>
                    <td>订单总金额</td>
                    <td><input type="text" id="insertOrderTotal"></td>
                </tr>
                <tr>
                    <td><button type="submit" id="insertOrderBtn">确定</button></td>
                </tr>
            </table>
        </form>
        <form id="modifyOrderForm" class="hide">
            <table>
                <tr>
                    <td>订单时间：</td>
                    <td><input type="text" id="modifyOrderTime"></td>
                    <td>下单顾客</td>
                    <td><input type="text" id="modifyOrderClient"></td>
                </tr>
                <tr>
                    <td>负责销售：</td>
                    <td><input type="text" id="modifyOrderStaff"></td>
                    <td>订单总金额</td>
                    <td><input type="text" id="modifyOrderTotal"></td>
                </tr>
                <tr>
                <td><button type="submit" id="modifyOrderBtn">确定</button></td>
                </tr>
            </table>
        </form>
        <table id="showOrderTable">

        </table>
    </div>
<!--顾客管理模块-->
    <div id="clientManagementBlock" class="hide">
        <input type="text"  id="searchClientBox">
        <button id="getClientByIdBtn">查询客户</button>
        <button id="getAllClientBtn">查询全部客户</button><br><br>
        <input type="text"  id="delClientBox">
        <button id="delClientBtn">删除客户</button><br><br>
        <input type="text"  id="modifyClientBox">
        <button id="showModifyClientBtn">编辑客户</button><br><br>
        <button id="showInsertClientBtn">新增客户</button>

        <form id="insertClientForm" class="hide">
            <table>
                <tr>
                    <td>客户姓名:</td>
                    <td><input type="text" id="insertClientName"></td>
                    <td>客户性别:</td>
                    <td><input type="text" id="insertClientGender"></td>
                </tr>
                <tr>
                    <td>客户地址:</td>
                    <td><input type="text" id="insertClientAddress"></td>
                    <td>客户邮箱:</td>
                    <td><input type="text" id="insertClientEmail"></td>
                </tr>
                <tr>
                    <td><button type="submit" id="insertClientBtn">确定</button></td>
                </tr>
            </table>
        </form>
        <form id="modifyClientForm" class="hide">
            <table>
                <tr>
                    <td>客户姓名:</td>
                    <td><input type="text" id="modifyClientName"></td>
                    <td>客户性别:</td>
                    <td><input type="text" id="modifyClientGender"></td>
                </tr>
                <tr>
                    <td>客户地址:</td>
                    <td><input type="text" id="modifyClientAddress"></td>
                    <td>客户邮箱:</td>
                    <td><input type="text" id="modifyClientEmail"></td>
                </tr>
                <tr>
                    <td><button type="submit" id="modifyClientBtn">确定</button></td>
                </tr>
            </table>
        </form>
        <table id="showClientTable">

        </table>
    </div>
</div>
<script>
    $(function () {
        $("#selfInformationManagement").click("click",function () {
            $("#selfInformationManagementBlock").css("display","block");
            $("#productManagementBlock").css("display","none");
            $("#clientManagementBlock").css("display","none");
            $("#orderManagementBlock").css("display","none");
        })

        $("#productManagement").click("click",function () {
            $("#productManagementBlock").css("display","block");
            $("#clientManagementBlock").css("display","none");
            $("#orderManagementBlock").css("display","none");
            $("#selfInformationManagementBlock").css("display","none");

        });

        $("#clientManagement").click("click",function () {
            $("#clientManagementBlock").css("display","block");
            $("#productManagementBlock").css("display","none");
            $("#orderManagementBlock").css("display","none");
            $("#selfInformationManagementBlock").css("display","none");

        });
        $("#orderManagement").click("click",function(){
            $("#orderManagementBlock").css("display","block");
            $("#productManagementBlock").css("display","none");
            $("#clientManagementBlock").css("display","none");
            $("#selfInformationManagementBlock").css("display","none");

        });
    })
</script>
</body>
</html>