<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.csms.mapper.ModifyMapper">
<!--    UPDATE table_name SET column1=value1,column2=value2,... WHERE some_column=some_value;-->
    <update id="modifyAdministrator">
        update administrators
        <set>
            <if test="administratorPassword != null">
                administratorPassword=#{administratorPassword},
            </if>
            <if test="administratorName != null">
                administratorName=#{administratorName},
            </if>
            <if test="administratorGender != null">
                administratorGender=#{administratorGender},
            </if>
            <if test="administratorAddress != null">
                administratorAddress=#{administratorAddress},
            </if>
            <if test="administratorEmail != null">
                administratorEmail=#{administratorEmail},
            </if>
            <if test="administratorId !=null">
                administratorId=#{administratorId},
            </if>
        </set>
        where administratorId=#{administratorId}
    </update>

    <update id="modifyClient">
        update clients
        <set>
            <if test="clientPassword != null">
                clientPassword=#{clientPassword},
            </if>
            <if test="clientName != null">
                clientName=#{clientName},
            </if>
            <if test="clientGender != null">
                clientGender=#{clientGender},
            </if>
            <if test="clientAddress != null">
                clientAddress=#{clientAddress},
            </if>
            <if test="clientEmail != null">
                clientEmail=#{clientEmail},
            </if>
            <if test="clientId !=null">
                clientId=#{clientId},
            </if>
        </set>
        where clientId=#{clientId}

    </update>
    <update id="modifyOrder">
        update orders
        <set>
            <if test="orderTime != null ">
                orderTime=#{orderTime},
            </if>
            <if test="clientId != null">
                clientId=#{clientId},
            </if>
            <if test="salesStaffId != null">
                salesStaffId=#{salesStaffId},
            </if>
            <if test="consumption != null">
                consumption=#{consumption},
            </if>
            <if test="orderId !=null">
                orderId=#{orderId},
            </if>
        </set>
        where orderId=#{productId}
    </update>
    <update id="modifyOrderDetail">
        update orderdetails
        <set>
            <if test="productId != null">
                productId=#{productId},
            </if>
            <if test="productNumber != null">
                productNumber=#{productNumber},
            </if>
            <if test="totalPrice != null">
                totalPrice=#{totalPrice},
            </if>
            <if test="productId !=null">
                orderDetailId=#{orderDetailId},
            </if>
        </set>
        where orderDetailId=#{orderDetailId}
    </update>
    <update id="modifyProduct">
        update products
        <set>
            <if test="productName != null">
                productName = #{productName},
            </if>
            <if test="productDescription != null">
                productDescription = #{productDescription},
            </if>
            <if test="productPrice != null">
                productPrice = #{productPrice},
            </if>
            <if test="productInventory != null">
                productInventory = #{productInventory},
            </if>
            <if test="productId !=null">
                productId=#{productId},
            </if>
        </set>
        where productId=#{productId}
    </update>
    <update id="modifySalesStaff">
        update salesStaffs
        <set>
            <if test="salesStaffPassword != null">
                salesStaffPassword=#{salesStaffPassword},
            </if>
            <if test="salesStaffName != null">
                salesStaffName=#{salesStaffName},
            </if>
            <if test="salesStaffGender != null">
                salesStaffGender=#{salesStaffGender},
            </if>
            <if test="salesStaffAddress != null">
                salesStaffAddress=#{salesStaffAddress},
            </if>
            <if test="salesStaffEmail != null">
                salesStaffEmail=#{salesStaffEmail},
            </if>
            <if test="salesStaffSalary != null">
                salesStaffSalary=#{salesStaffSalary},
            </if>
            <if test="salesStaffId !=null">
                salesStaffId=#{salesStaffId},
            </if>
        </set>
        where salesStaffId=#{salesStaffId}
    </update>
</mapper>